<div class="col-lg-4">
  <div class="widgets">
    <!-- about -->
    <div class="widget">
      {{ with .Site.GetPage "/about" }}
      <h2 class="widget-title">{{ .Title | markdownify }}</h2>
      {{ if .Params.Image }}
      <img src="{{ .Params.Image | absURL }}" alt=""
        class="img-fluid author-thumb-sm d-block mx-auto rounded-circle mb-4">
      {{ end }}
      <p>{{ .Summary }}</p>
      <a href="{{ .Permalink }}" class="btn btn-outline-primary" aria-label="Know More about {{ .Site.Params.Author }}">Know More</a>
      {{ end }}
    </div>
    <!-- category -->
    <div class="widget">
      <h2 class="widget-title">Category</h2>
      {{- if isset .Site.Taxonomies "categories" }}
      {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
      <ul class="list-unstyled">
        {{- range $name, $items := .Site.Taxonomies.categories }}
        <li><a class="text-accent"
            href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}/">{{ $name | title | humanize }}</a>
        </li>
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
    </div>
    <!-- Tags -->
    <div class="widget">
      <h2 class="widget-title">Tag</h2>
      {{- if isset .Site.Taxonomies "tags" }}
      {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
      <ul class="list-inline">
        {{- range $name, $items := .Site.Taxonomies.tags }}
        <li class="list-inline-item"><a class="eb-tag"
            href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}/">{{ $name | humanize }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
    </div>
    <!-- social -->
    <div class="widget">
      <h2 class="widget-title">Social</h2>
      <ul class="list-inline social-links">
        {{ range .Site.Params.social }}
        <li class="list-inline-item"><a href="{{ .link | safeURL }}" aria-label="{{ .title | title }}"><i class="{{ .icon }}" aria-hidden="true"></i></a></li>
        {{ end }}
      </ul>
    </div>
    <!-- advertisement -->
    <!--
    <div class="widget">
      <img src="{{`images/promotion.png` | absURL}}" alt="" class="img-fluid">
    </div>
    -->
  </div>
</div>
